.header {
  background-color: var(--color-gray-soft);
  color: var(--color-primary-dark);
}


.header_container {
  padding: 24px 0;
  display: flex;
  justify-content: center;
}


.logo {
  display: flex;
  align-items: center;
  justify-content: start;
  flex: 1;
}

.nav_list {
  display: flex;
  justify-content: center;
  gap: 32px;
  list-style: none;
  flex: 1;
  margin: 0;
  padding: 0;
}

.right {
  flex: 1;
}

.nav_list_item_link {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  color: var(--foreground);
  transition: color 0.3s ease;
}

.nav_list_item_link:hover {
  color: var(--color-button-hover);
}

.nav_active {
  color: var(--color-button-hover);
}