.header {
  background-color: var(--color-gray-soft);
  color: var(--color-primary-dark);
}


.header_container {
  padding: 24px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}


.logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
}

.right {
  display: none;
}

.favBlock {
  align-self: flex-end;
  width: 0px;
  height: 0px;
}

.burger {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  background-color: rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 100px;
  cursor: pointer;
}

.nav_list {
  display: none;
}

.right {
  flex: 1;
}

.nav_list_item_link {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  color: var(--foreground);
  transition: color 0.3s ease;
}

.nav_list_item_link:hover {
  color: var(--color-button-hover);
}

.nav_active {
  color: var(--color-button-hover);
}

@media screen and (min-width: 768px) {
  .burger {
    display: none;
  }

  .nav_list {
    display: flex;
    justify-content: center;
    gap: 32px;
    list-style: none;
    flex: 1;
    margin: 0;
    padding: 0;
  }

  .right {
    display: block;
  }
}