.button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  min-width: 80px;
  height: 64px;

  padding: 3px;
  gap: 6px;

  border: 1px solid var(--color-gray-light);
  border-radius: 10px;

  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.01em;
  text-align: center;
  color: var(--color-primary-dark);

  background: var(--background);
  cursor: pointer;
  transition: all 0.2s ease;
}

.button:hover {
  border-color: var(--color-primary);
}

.active {
  border-color: var(--color-button);
}

@media (min-width: 768px) {
  .button {
    min-width: 112px;
    height: 96px;
    padding: 0 6px;
    gap: 10px;
    font-size: 16px;
    border-radius: 12px;
  }
}