/*@import "tailwindcss";*/

:root {
  --color-primary-dark: #101828;
  --color-primary: #475467;
  --color-primary-light: #6c717b;

  --color-button: #e44848;
  --color-button-hover: #d84343;
  --color-warning: #ffc531;

  --color-gray-light: #dadde1;
  --color-gray-lighter: #f2f4f7;
  --color-gray-soft: #f7f7f7;
  --color-white: #ffffff;

  --background: var(--color-white);
  --foreground: var(--color-primary-dark);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    /*--background: var(--color-primary);
    --foreground: var(--color-gray-light);*/
    --background: var(--color-white);
    --foreground: var(--color-primary-dark);

  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Inter, sans-serif;

  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.layout {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
  height: 100%;
  min-height: 100vh;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  cursor: pointer;
}

.container {
  min-width: 320px;
  max-width: 375px;
  margin: 0 auto;
  padding: 0 20px;
  overflow-y: hidden;
}

.visually_hidden {
  opacity: 0;
  height: 0;
  pointer-events: none;
  visibility: hidden;
  display: none;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0 16px;
  }
}