.pageContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	flex: 1;
}

.pageLayout {
	padding: 50px 0;
	display: flex;
	gap: 64px;
	align-items: flex-start;
}