.card {
	display: flex;
	gap: 24px;
	border: 1px solid var(--color-gray-light);
	border-radius: 20px;
	padding: 24px;
}

.cardImgLink {
	flex-shrink: 0;
}

.cardImgWrap {
	width: 292px;
	height: 380px;
	border-radius: 10px;
	overflow: hidden;
}

.cardImg {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: 25%;
}

.cardBottom {
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
	min-width: 0;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 8px;
}

.cardTitle {
	font-size: 24px;
	font-weight: 600;
	color: var(--foreground);

	flex: 1 1 auto;
	min-width: 0;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.cardPrice {
	font-size: 24px;
	font-weight: 600;
	color: var(--foreground);
}

.header_left {
	display: flex;
	align-items: center;
	gap: 12px;
	flex-shrink: 0;
}


.metaRow {
	display: flex;
	align-items: center;
	gap: 16px;
	margin-bottom: 24px;
}

.itemRates {
	display: flex;
	align-items: center;
	gap: 6px;
}

.metaStat {
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
	color: var(--foreground);
}

.itemLocation {
	display: flex;
	align-items: center;
	gap: 4px;
}

.locationText {
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
	color: var(--foreground);
}

.descriptionBox {
	position: relative;
	max-width: 100%;
	overflow: hidden;
	margin-bottom: 24px;
}

.descriptionBox::after {
	content: "";
	position: absolute;
	bottom: 0;
	right: 0;
	width: 40%;
	height: 24px;
	pointer-events: none;
	background: linear-gradient(to right, transparent, #fff);
}

.description {
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
	color: var(--color-primary);

	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}

.features {
	display: flex;
	flex-wrap: wrap;
	gap: 8px;
	margin-bottom: 24px;
}