.card {
	display: flex;
	flex-direction: column;
	gap: 16px;
	padding: 12px 0;
}

.imageBox {
	position: relative;
	width: 100%;
	height: 230px;
	border-radius: 12px;
	overflow: hidden;
}

.image {
	object-fit: cover;
}

.title {
	position: absolute;
	bottom: 48px;
	left: 12px;
	color: var(--background);
	font-size: 20px;
	font-weight: 700;
	text-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.priceBlock {
	position: absolute;
	bottom: 8px;
	left: 12px;

	display: flex;
	align-items: center;
	gap: 12px;

	color: var(--background);
	font-size: 18px;
	font-weight: 600;
}

.meta {
	display: flex;
	flex-direction: column;
	gap: 4px;
	padding: 0 4px;
}

.metaBlock {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.rate,
.location {
	display: flex;
	align-items: center;
	gap: 6px;
	font-size: 15px;
}

.descriptionBox {
	position: relative;
	max-width: 100%;
	overflow: hidden;
	margin-bottom: 24px;
}

.descriptionBox::after {
	content: "";
	position: absolute;
	bottom: 0;
	right: 0;
	width: 40%;
	height: 24px;
	pointer-events: none;
	background: linear-gradient(to right, transparent, var(--background));
}

.description {
	font-size: 15px;
	line-height: 1.4;
	color: var(--color-primary);
	-webkit-line-clamp: 1;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.features {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 8px;
}

@media (min-width: 768px) {
	.image {
		object-fit: cover;
		object-position: bottom;
	}
}