.message_wrapper {
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.message_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 16px;
  border-radius: 16px;
  width: 100%;
  background-color: var(--background);
  padding: 24px 16px;
}

.message_text {
  font-size: 18px;
  line-height: 1.5;
  font-weight: 600;
  text-align: center;
  color: var(--foreground);
}

/* DESKTOP */
@media (min-width: 1440px) {
  .message_container {
    width: 640px;
  }

  .message_text {
    max-width: 600px;
    font-size: 18px;
  }

}