.pageContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	flex: 1;
}

.pageLayout {
	padding: 50px 0;
	display: flex;
	flex-direction: column;
	gap: 44px;
	align-items: flex-start;
}

.headerBlock {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: center;
	min-width: 100%;
	gap: 28px;
}

.description {
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
	color: var(--color-primary);
	margin-bottom: 16px;
}

.tabs {
	display: flex;
	gap: 40px;
	min-width: 100%;
	font-weight: 600;
	font-size: 20px;
	line-height: 120%;
	color: var(--foreground);
	padding-bottom: 24px;
	border-bottom: 1px solid var(--color-gray-light);
}

.tab {
	position: relative;
	padding: 12px 0;
	font-size: 18px;
	background: none;
	border: none;
	cursor: pointer;
}

.tab.active::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: -27px;
	width: 100%;
	height: 5px;
	background: var(--color-button);
	border-radius: 2px;
}

.tabContent {
	min-height: 100%;
	height: 100%;
}

.bottomTabs {
	display: grid;
	grid-template-columns: 1fr 640px;
	gap: 40px;
	width: 100%;
	align-items: start;
}