.header {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  justify-content: start;
  gap: 8px;
}

.cardTitle {
  font-size: 24px;
  font-weight: 600;
  color: var(--foreground);

  flex: 1 1 auto;
  min-width: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.metaRow {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 16px;
}

.cardPrice {
  font-size: 24px;
  font-weight: 600;
  color: var(--foreground);
}


.itemRates {
  display: flex;
  align-items: center;
  gap: 6px;
}

.metaStat {
  position: relative;
  display: inline-flex;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--foreground);
}


.metaStat::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 1;
  width: 100%;
  height: 1px;
  background-color: currentColor;
}

.itemLocation {
  display: flex;
  align-items: center;
  gap: 4px;
}

.locationText {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--foreground);
}

/*//////////////////////////////////*/
/*gallery*/
.listStyle {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.cardImgWrap {
  position: relative;
  width: 100%;
  height: 312px;
  overflow: hidden;
  border-radius: 12px;
}

.cardImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (min-width: 768px) {
  .listStyle {
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 48px;
  }
}


/*////////////////////////////////////////////////*/
/*features*/
.featuresBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  padding: 24px 8px;
  background-color: var(--color-gray-soft);
  min-height: 631px;
  height: 100%;
}

@media (min-width: 768px) {
  .featuresBlock {
    padding: 44px 52px;
    background-color: var(--color-gray-soft);
    min-height: 631px;
  }
}

.features {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 24px;
}

.featuresDetails {
  min-width: 100%;
}

.blockTitle {
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  color: var(--foreground);
}

.divider {
  height: 1px;
  background: var(--color-gray-light);
  margin: 24px 0;
}

.details {
  display: grid;
  grid-template-columns: 1fr auto;
  row-gap: 16px;
  column-gap: 24px;
}

.details dt {
  color: var(--foreground);
}

.details dd {
  text-align: right;
  color: var(--foreground);
}

.row {
  display: contents;
}

/*////////////////////////////*/
/*reviesws */
.reviewList {
  list-style: none;
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  gap: 44px;
}

.reviewCard {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 16px;
}

.reviewHeader {
  display: flex;
  align-items: center;
  gap: 16px;
}

.avatar {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 60px;
  height: 60px;
  border-radius: 60px;
  background: var(--color-gray-lighter);

  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  color: var(--color-button);
}

.headerInfo {
  display: flex;
  flex-direction: column;
}

.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  margin-bottom: 4px;
  color: var(--foreground);
}

.stars {
  display: flex;
  gap: 4px;
}

.comment {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-primary);
}

/*////////////////////////*/
/*booking*/
.wrapper {
  border: 1px solid var(--color-gray-light);
  border-radius: 10px;
  padding: 24px 8px;
}

@media (min-width: 768px) {
  .wrapper {
    border: 1px solid var(--color-gray-light);
    border-radius: 10px;
    padding: 44px 57px;
  }
}

.title {
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  color: var(--foreground);
  margin-bottom: 8px;
}

.subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-primary-light);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 14px;
  min-width: 100%;
  margin-top: 24px;
}

.fieldWrapper {
  border-radius: 12px;
}

.input {
  font-family: "Inter", sans-serif;
  border: 1px solid var(--color-gray-soft);
  border-radius: 12px;
  padding: 18px;
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-primary-light);
  background: var(--color-gray-soft);
}

.submit {
  margin-top: 10px;
  width: fit-content;
  align-self: center;
}

.error {
  font-size: 12px;
  color: var(--color-button);
}

.inputError {
  border-color: var(--color-button);
}